{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block body %}
{{ parent() }}
{% endblock %}

{% block child %}
 <section class="page">
    <h1>Changer le mot de passe</h1>
        {{ form_start(form,{'attr': {'novalidate': 'novalidate','class':'form'}}) }}
         <div> 
        {{ form_widget(form.password) }}
        <div class="danger">  {{ form_errors(form.password) }} </div>
        </div>
        <button type="submit" class="btn btn-lg btn-primary">Changer</button>
    {{ form_end(form) }}


</section>
{% endblock %}