{% extends 'base.html.twig' %}



{% block body %}
{{ parent() }}
{% endblock %}

{% block child %}
<section class="page">
{{form_start(form,{'attr': {'novalidate': 'novalidate','class':'form'}})}}

         <div>
        <div> Nom d'utilisateur : </div>
        {{ form_widget(form.username,{'attr':{'class':'form-control'}}) }}
      <div class="danger">  {{ form_errors(form.username) }} </div>
        </div>
        <div>
        <div> Email : </div>
        {{ form_widget(form.email,{'attr':{'class':'form-control'}}) }}
        <div class="danger">  {{ form_errors(form.email) }} </div>
         </div>
          <div>
        <div> Téléphone : </div>
        {{ form_widget(form.phone,{'attr':{'class':'form-control'}}) }}
        <div class="danger">  {{ form_errors(form.phone) }} </div>
         </div>
          <div>
        <div> Adresse : </div>
        {{ form_widget(form.address,{'attr':{'class':'form-control'}}) }}
        <div class="danger">  {{ form_errors(form.address) }} </div>
         </div>
         <div>
         <div> Genre : </div>
         {{ form_widget(form.gender) }}
         <div class="danger">  {{ form_errors(form.gender) }} </div>
         </div>
         <div>
         <div> Rôle : </div>
         {{ form_widget(form.roles) }}
         <div class="danger">  {{ form_errors(form.roles) }} </div>
         </div>
       
<button type="submit" class="btn btn-info">Modifier</button>
{{form_end(form)}}
</section>
{% endblock %}