this is email contrat invitation
<br />
<a href="http://localhost:8080/contrat/ContratInvitationRequest/{{ invitation_id }}/{{ id_contrat }}/{{ id_collecteur }}/accepter">Accepter</a>
&nbsp;
<a href="http://localhost:8080/contrat/ContratInvitationRequest/{{ invitation_id }}/{{ id_contrat }}/{{ id_collecteur }}/refuser">Refuser</a>