{% extends 'back.html.twig' %}

{% block title %}Invitation index{% endblock %}

{% block child %}

<div class="col-lg-12">

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Tableau d'invitation</h5>
            <div class="row">
                <div class="col-sm-12 col-md-10"><div id="DataTables_Table_0_filter" ><label>Search:
                            <input type="search" id="nominvitation" onkeyup="actionnom()" style="width:500px;" class="form-control " placeholder="Search..."></label>
                    </div>
                </div>

                <div class="col-sm-12 col-md-2">
                    <div id="DataTables_Table_0_filter"><label>Statut d'Invitation:
                            <select class="custom-select col-12" id="status" onchange="changenom()">
                                <option selected="Tous">Tous</option>
                                <option value="En attente">En attente</option>
                                <option value="Refuse">Refuse</option>
                                <option value="Accepte">Accepte</option>
                            </select></label>
                    </div>
                </div>
            </div>
            <br />

            <table class="table" id="show">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Date_invitation</th>

                <th>Statut_invitation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for invitation in invitations %}
            <tr>
                <td>{{ invitation.id }}</td>
                <td>{{ invitation.description }}</td>
                <td>{{ invitation.dateInvitation ? invitation.dateInvitation|date('Y-m-d H:i:s') : '' }}</td>

                <td>

                    {% if invitation.statutInvitation=='En attente' %}
                    <span class="badge badge-warning">{{ invitation.statutInvitation }}</span>
                    {% elseif invitation.statutInvitation=='Accepte' %}
                        <span class="badge badge-success">{{ invitation.statutInvitation }}</span>
                        {% else %}
                            <span class="badge badge-danger">{{ invitation.statutInvitation }}</span>
                            {% endif %}
                </td>

                <td>
                    <div class="dropdown">
                        <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                            <i class="dw dw-more"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                            <a class="dropdown-item" href="{{ path('app_invitation_show', {'id': invitation.id}) }}"><i class="dw dw-eye"></i> View</a>
                            <a class="dropdown-item" href="{{ path('app_invitation_edit', {'id': invitation.id}) }}"><i class="dw dw-edit2"></i> Edit</a>
                            <a class="dropdown-item" href="{{ path('app_contrat_delete', {'id': invitation.id}) }}"><i class="dw dw-delete-3"></i> Delete</a>
                        </div>
                    </div>


                </td>
            </tr>


        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
 <a href="{{ path('app_invitation_new') }}"><button type="submit" class="btn btn-primary">Create new</button></a>
            <script>
                function changenom(){
                    var sch=$("#status").val();
                    $.ajax({
                        url: "{{ path('app_invitation_filter') }}",
                        data:{dat: sch},
                        type: "POST",
                        success: function(data){
                            $('#show').html(data).show();
                        }
                    });
                }
                function actionnom(){
                    var sch=$("#nominvitation").val();
                    $.ajax({
                        url: "{{ path('app_invitation_search') }}",
                        data:{nom: sch},
                        type: "POST",
                        success: function(data){
                            $('#show').html(data).show();
                        }
                    });
                }
            </script>
{% endblock %}

