{% extends 'back.html.twig' %}

{% block title %}Entreprise index{% endblock %}

{% block child %}
    <h1>Entreprise index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Numtel</th>
                <th>Date_creation</th>
                <th>Adresse_email</th>
                <th>Type_enterprise</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entreprise in entreprises %}
            <tr>
                <td>{{ entreprise.id }}</td>
                <td>{{ entreprise.nom }}</td>
                <td>{{ entreprise.adresse }}</td>
                <td>{{ entreprise.numtel }}</td>
                <td>{{ entreprise.dateCreation ? entreprise.dateCreation|date('Y-m-d') : '' }}</td>
                <td>{{ entreprise.adresseEmail }}</td>
                <td>{{ entreprise.typeEnterprise }}</td>
                <td>
                    <a href="{{ path('app_entreprise_show', {'id': entreprise.id}) }}">show</a>
                    <a href="{{ path('app_entreprise_edit', {'id': entreprise.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
